# Dependências
node_modules/

# Credenciais e ambiente
.env

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
